@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	height: 80px;
}

header img{
	width: 80px;
	height: 80px;
}

span{
	color: #4FC08D
}

.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.information{
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
	
}

#temperatureDiv, #windspeedDiv, #humidityDiv, #cloudsDiv{
	display: inline-block;
	margin: auto;
	color: #4FC08D;
	font-weight: normal;
	font-size: 50px;
}

.weatherWrapper{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.temperatureWrap, .windspeedWrap, .humidityWrap, .cloudsWrap{
	margin:1px;
	width:250px;
	text-align:center;
	display:inline-block;    
}

#temperatureDiv, #windspeedDiv, #humidityDiv, #cloudsDiv{
	margin-left: auto;
	padding: 0px;
}

.weatherInfo{
	width: 100%;	
	text-align: center;
	display: inline-block;
}


#textInput{
	width: 400px;
	height: 25px;
	padding-left: 10px;
	border: 1px solid #4FC08D;
	border-radius: 25px;
	color: #4FC08D;
	font-size: 15px;
}

#cityName{
	width: 50%;
	margin: 0 auto;
	margin-top: 35px;
	text-align: center;
	color: #4FC08D;
}

.companyLogo{
	padding-top: 5px;
	padding-left: 150px;
	float: left;
}

.navLinks{
	list-style: none;
	text-align: right;
	float: right;
	padding-top: 14px;
	padding-right: 125px; 
}

ul li{
	display: inline-block;
	padding: 0 25px 0 25px; 
	font-size: 20px;
}

ul li a{
	color: #4FC08D;
	text-decoration: none;
}

ul li a:hover{
	color: rgba(79,192,141,0.6)
}

.aboutDiv{
	margin: 0 auto;
	width: 50%;
	text-align: center;
	margin-top: 70px;
	color: #4FC08D;
}